
@{
    ViewData["Title"] = "Index";
}

<div>
    <a asp-action="BartenderLogin">Login</a>
</div>

<h1>Create or Find An Order</h1>
<br />
<a class="btn btn-primary" asp-action="Create">Create</a>
<br />
<br />
<strong class="text-warning">@TempData["MethodResult"]</strong>
<strong class="text-danger">@TempData["error"]</strong>
<br />

<h3>Find Your Order's Status</h3>
<form method="post" asp-action="MyOrder">
    <table>
        <tr>
            <th> Name on Order:</th>
            <th> Drink Ordered:</th>
        </tr>
        <tr>
            <td><input type="text" name="nameIn" placeholder="Order Name" class="form-control" /></td>
            <td>
                <Select class="form-control" name="drinkOrderedIn" required>
                    <option value="none" selected disabled hidden>
                        --Select a Drink--
                    </option>
                    <option value="Bourbon Old Fashioned">Bourbon Old Fashioned</option>
                    <option value="Negroni">Negroni</option>
                    <option value="Manhattan">Manhattan</option>
                    <option value="Long Island Iced Tea">Long Island Iced Tea</option>
                    <option value="White Russian">White Russian</option>
                    <option value="Margarita">Margarita</option>
                    <option value="Bloody Mary">Bloody Mary</option>
                    <option value="Dirty Martini">Dirty Martini</option>
                    <option value="Painkiller">Painkiller</option>
                    <option value="Aperol Spritz">Aperol Spritz</option>
                    <option value="Other">Other</option>
                </Select>
            </td>
        </tr>
    </table>
    <br />
    <input type="submit" value="Submit" class="btn btn-primary" />
</form>